@use "@styles/base/mixins" as *;

.meeting {
	// .meeting__container
	&__container {
	}
	// .meeting__title
	&__title {
		margin-bottom: toRem(25);
	}
	// .meeting__info
	&__info {
		&:not(:last-child) {
			margin-bottom: toRem(25);
		}
	}
	// .meeting__list
	&__list {
		&:not(:last-child) {
			margin-bottom: toRem(25);
		}
	}
	// .meeting__loader
	&__loader {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: toRem(139);
	}
	// .meeting__button
	&__button {
	}
}
